
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4"></div>
    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- Card -->
<div class="card cd mt-5 ">
  <!-- Card content -->
  <div class="card-body text-center">
    <h1>
      Enter New Password
    </h1>
<!-- Extended material form grid -->
<form class="text-center" [formGroup]="passwordform" (ngSubmit)="newpassword()">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="password" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" id="password" placeholder="New Password">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">password is required</div>
          <div *ngIf="f.password.errors.password">password must be  valid </div>
      </div>
      </div>
    </div>
    </div>
  <button type="submit" [disabled]="!passwordform.valid"  class="btn btn-primary btn-md">Submit</button>

</form>
<!-- Extended material form grid -->
  </div>
</div>
<!-- Card -->
    </div>
    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4"></div>
  </div>
</div>