<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4"></div>
      <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Card -->
  <div class="card cd mt-5 ">
    <!-- Card content -->
    <div class="card-body text-center">
      <h1>
        SLAS Admin Login
      </h1>
  <!-- Extended material form grid -->
  <form class="text-center" [formGroup]="loginform" (ngSubmit)="login()">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12">
        <!-- Material input -->
        <div class="md-form form-group">
          <input type="email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" id="email" placeholder="Email">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
        </div>
      </div>
      </div>

      <!-- Grid column -->
      <div class="row">
      <!-- Grid column -->
      <div class="col-md-12">
        <!-- Material input -->
        <div class="md-form form-group">
          <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" id="password" placeholder="Password">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>

    <button type="submit" [disabled]="!loginform.valid"  class="btn btn-primary btn-md">Login</button>
    <!-- <button type="submit" routerLink="/register"  class="btn btn-primary btn-md">Register</button><br>
    <label class="text-right"><a routerLink="/findemail">forget Password</a></label> -->
  </form>
  <!-- Extended material form grid -->
    </div>
  </div>
  <!-- Card -->
      </div>
      <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4"></div>
    </div>
  </div>